﻿@page
@model ItemListModel
@using Adform.Views.Shopping;
@{
}

<h1>Item List</h1>

<table class="table">
    @foreach (var item in Model.Items)
    { 
        <tr>
            <td><img src=@item.ImageName /></td>
            <td>@item.ItemName</td>
            <td>@item.ItemPrice</td>
            <td>@item.Description</td>
        </tr>
    }
</table>